/* CAROUSEL */

.carousel{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/welcome/fachada_ecomuseo.jpg);
  background-size: cover;
  background-position: center;
}


/* ACTIVIDADES */
.actividades {
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
}

.actividades h1 {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.05px;
}

.actividades .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

.actividades .box-container .box {
    flex: 1 1 300px; /* Ajusta este valor según prefieras */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    background-color: #AAE983;
    overflow: hidden;
}

.actividades .box-container .box .actividad img {
    width: 100%; /* Ajusta el ancho al contenedor */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el espacio disponible sin distorsionarse */
    border-radius: 0.5rem 0.5rem 0 0; /* Opcional: bordes redondeados en la parte superior */
}


.actividades .box-container .box .actividad {
    padding: 1rem;
}

.actividades .box-container .box .actividad h3 {
    margin-top: 1rem;
}

.actividades .box-container .box .actividad p {
    margin-top: 0.5rem;
}

.actividades .box-container .box .actividad a {
    margin-top: 1rem;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}



/* Imagen Abajo */

.imagen-abajo{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/welcome/Photo_Agro.jpg);
  background-size: cover;
  background-position: center;
}
